@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root{
    --accent: #306FDB;
    --accentHover: #3375E5;
    --darkGrey: #3B3B3B;
    --mediumGrey: #646464;
    --lightGrey: #D1CFCF;
  }  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 0 24px;
    font-family: 'Open Sans', 'sans-serif';
    font-size: 16px;
}

em{
    font-style: normal;
    font-weight: 700;
}

header{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 48px 0;
    border-bottom: 1px solid var(--lightGrey);
}

.logo{
    width: 48px;
}

header nav ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
}

header nav ul li{
    margin-left: 24px;
}

header nav ul li a{
    color: var(--darkGrey);
    text-decoration: none;
}

header nav ul li a:hover{
    color: var(--accent);
    text-decoration: underline;
}

main{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.hero{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 96px 0;
    border-bottom: 1px solid var(--lightGrey);
}

.hero span{
    text-transform: uppercase;
    color: var(--darkGrey);
    font-size: 24px;
    text-align: center;
}

.hero h1{
    font-size: 72px;
    font-weight: 700;
    margin: 16px 0 24px 0;
    text-align: center;
}

.hero p{
    color: var(--darkGrey);
    font-size: 24px;
    text-align: center;
    margin-bottom: 48px;
}

.hero__links{
    display: flex;
    justify-content: center;
    align-items: center;
}

.primaryButton{
    background: var(--accent);
    color: white;
    padding: 8px 24px;
    border-radius: 24px;
    margin-right: 24px;
    text-decoration: none;
}

.primaryButton:hover{
    background: var(--accentHover);
}

.secondaryButton{
    color: var(--accent);
    text-decoration: none;
}

.secondaryButton:hover{
    text-decoration: underline;
}

.lastProjects{
    width: 100%;
    max-width: 1200px;
    padding: 96px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    border-bottom: 1px solid var(--lightGrey);
}

.lastProjects h2{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 48px;
    text-align: center;
}

.projectsGrid{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 48px;
    margin-bottom: 96px;
}

.project{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.project img{
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 24px;
}

.project span{
    text-transform: uppercase;
    color: var(--darkGrey);
    font-size: 14px;
}

.project h3{
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 8px 0;
}

.project p{
    color: var(--darkGrey);
}

footer{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 48px 0;
}

footer nav{
    margin-bottom: 24px;
}

footer nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

footer nav ul li{
    margin-right: 24px;
}

footer nav ul li a{
    color: var(--darkGrey);
    text-decoration: none;
}

footer nav ul li a:hover{
    color: var(--accent);
    text-decoration: underline;
}

footer p{
    font-size: 12px;
    color: var(--mediumGrey);
}

footer p a{
    color: var(--mediumGrey);
}